<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>

  <!-- Useful meta tags -->
  <!--        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="x-ua-compatible" content="ie=edge"/>

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="">
  <meta name="googlebot" content="">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">

  <!-- Open Graph -->
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:locale" content="ru_RU"/>
  <meta property="og:locale:alternate" content="fr_FR"/>
  <meta property="og:locale:alternate" content="es_ES"/>
  <meta property="og:locale:alternate" content="en_GB"/>
  <meta property="og:site_name" content=""/>

  <!-- Custom styles -->
  <link rel="stylesheet" href="styles/main.css">


  <!-- Title -->
  <title>Test</title>

</head>
<body class="body">

  <!--MAIN-->
  <div class="container container--prm">
    <div class="content">
      @@include("../blocks/modules/task/task.html")
    </div>
  </div>


<!--  @@include("../blocks/modules/main/main.html")-->

<!--SVG SPRITE-->
<!--<div class="d-none">-->
<!--&lt;!&ndash;  @@include("../img/sprite/sprite.svg")&ndash;&gt;-->
<!--</div>-->

<!--SCRIPTS-->

<script src="js/main.js"></script>
</body>
</html>

